name: On Pull Request
on:
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]
    workflow_dispatch:
concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
    cancel-in-progress: true
jobs:
    check:
        if: github.event.pull_request.draft == false
        name: Install, Format, Typecheck
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
            - name: Install
              run: bun install
            - name: Format
              run: bun run prettier
            - name: Typecheck
              run: bun x tsc --noEmit
