name: Release
on:
    push:
        branches:
            - main
    workflow_dispatch:
concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
    cancel-in-progress: true
jobs:
    release:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
            - name: Install
              run: bun install --frozen-lockfile
            - name: Build
              run: bun run build
